* {
    font-family: Georgia, serif;
}

body {
    --dark: #6b5641;
    --accent: #2b345b;
    --lighter: #b9936a;
    --light: #fef7e8;
    --accent2: #aa4733;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.img {
    position: relative;
}


.quote-block {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, .2);
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
    z-index: 5;
    --quotes-font-size: 4em;
    border-width: 1px;
    border-color: var(--accent2);
    border-style: solid;
    /* background-color: var(--light); */
}


.quote-block:hover {
    perspective-origin: left;
    transform: perspective(500em) scale(1.02) translateZ(0);
    transition-duration: 0.2s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

blockquote {
    position: relative;
    padding: 0 2.5em 0 2.5em;
    margin: 0;
}

@media (max-width: 600px) {
    blockquote {
        margin: 0.2em;
    }

    .quote-block {
        --quotes-font-size: 3em;
    }
}


/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    position: absolute;
    font-size: var(--quotes-font-size);
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    color: var(--accent2)
}

blockquote:after {
    position: absolute;
    float: right;
    font-size: var(--quotes-font-size);
    line-height: 1;
    right: 0;
    content: "\201D";
    color: var(--accent2)
}

blockquote cite:before {
    content: "\2013";
}

#searchbar {
    position: sticky;
    top: 0px;
    padding: 0.5em;
    /* to accomodate for input labels*/
    z-index: 2;
}

footer {
    margin-top: auto;
    padding: 1em;
}

.author-thumbnail {
    margin: auto;
    margin-top: auto;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail-box {
    width: 10em;
    height: 10em;
    padding: 1em;
    object-fit: contain;
}

.justified-textbox p {
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
}

.text-justify {
    text-align: justify !important;
    text-justify: inter-word;
    text-align-last: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya SC' !important;
}

a {
    position: relative;
    text-decoration: inherit;
    color: var(--accent2);
    font-weight: medium;
}

a:hover {
    color: var(--dark);
    text-decoration: None;
    transition: .2s ease-in-out;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--dark);
    bottom: -0.2em;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--dark);
    border-radius: 4px;
}


.input-group:focus-within {
    border-color: var(--dark);
    box-shadow: var(--dark) 0 0 8px;
}

.form-row {
    display: flex;
    justify-content: space-around;
}

.form-group.col {
    flex: 1;
}

.btn {
    background-color: var(--dark);
    border: none;
}

.btn:focus,
.btn:hover {
    background-color: var(--accent2);
    outline: 0;
}

/* label,input{
    display:flex;
    flex-direction:column;
} */

.field-holder {
    position: relative;
    margin-bottom: 1.25em;
}

label {
    position: absolute;
    color: var(--lighter);
    top: 0.3em;
    font-family: Arial, sans-serif !important;
    left: 1em;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .2s ease-in-out;
    z-index: 3;
}

.nostyle {
    outline: none;
    color: none;
    border-style: none;
    border: none;
    background-color: white;
}

.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none
}

.form-control {
    outline: none;
}

.input-btn {
    border-radius: 0px 4px 4px 0px;
}