<footer style="background-color:var(--lighter);width:100vw;">
    <div class="row">
        <div style="margin:auto;">
            <!-- Trigger/Open The Modal -->
            <a type="button" class="whitelink underline" style="color:white!important;" data-toggle="modal"
                data-target="#modal_about">
                A. Roucher 2023 - Learn more / Contact
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_about" tabindex="1" role="dialog" aria-labelledby="ModalLabel"
        data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">About Dixit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>👋 Hi! I'm Aymeric, creator of this website.</p>

                    <p>Dixit uses AI-powered semantic search to find the best phrasing of your idea amongst 25,000
                        quotations from 4,000 historical figures.</p>
                    <p>I'm very keen to improve it! If you have any suggestion, in particular regarding:</p>
                    <ul>
                        <li>Website behaviour,</li>
                        <li>Adding more authors,</li>
                        <li>Or other quotations,</li>
                    </ul>
                    <p>Please let me know:</p>
                    <p>📧 E-mail: "dixit-app at proton.me"</p>
                    <p>💻 Github: <a class="underline" href="https://github.com/A-Roucher/dixit">A-Roucher/dixit</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Alright, back to
                        quotations!</button>
                </div>
            </div>
        </div>
    </div>
</footer>