<footer style="background-color:var(--lighter);">
    <div class="row">
        <div style="margin:auto;">
            <!-- Trigger/Open The Modal -->
            <a type="button" class="whitelink" style="color:white!important;" data-toggle="modal"
                data-target="#modal_about">
                Aymeric R. 2023 - Learn more / Contact
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_about" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
        data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">About Dixit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>👋 Hi!I'm Aymeric, creator of this website.</p>

                    <p>Dixit has over 25,000 quotations from 4,000 cool people, but it can still be improved.</p>
                    <p>If you have any suggestion, in particular:</p>
                    <ul>
                        <li>Feature requests</li>
                        <li>Authors</li>
                        <li>Quotations</li>
                    </ul>
                    <p>That you would like to see added to the site, please let me know:</p>
                    <p>📧 E-mail: "dixit-app at proton.me".</p> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Alright, back to
                        quotations!</button>
                </div>
            </div>
        </div>
    </div>
</footer>