<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <style>
    .img {
      position: relative;
    }

    /* Bottom right text */
    .text-block {
      position: absolute;
      bottom: 6px;
      right: 6px;
      background-color: black;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
    }
  </style>

  <title>Quote Search</title>
</head>

<body>

  <!-- Page Content -->
  <div class="container">
    <section class="jumbotron text-center" style="background-color: white;">
      <form method="POST">
        {% csrf_token %}
        <div class="container">
          <h1 class="jumbotron-heading">Quote Search</h1>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="sentence" placeholder="What would you like to say better?" }>
          </div>
          <button class="btn-search" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              </path>
            </svg>
          </button>
        </div>
      </form>
    </section>

    <div class="container">
      {% for quote in quotes %}
      <div class="row">
        <!-- <img class="card-img-top" src="{{ quote.thumbnail }}" alt=""> -->

        <div class="card-body">
          <a href="/author/{{ quote.author }}/">{{ quote.author }}</a>
          <h4 class="card-title"> {{ quote.quote }} </h4>
        </div>
        <div class="card-footer">
          <small class="text-muted"> {{ quote.id }} </small>
        </div>
      </div>
      </a>
      {% endfor %}

    </div>
    <!-- /.row -->


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Aymeric R 2023</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>