{%load static%}
<!DOCTYPE html>

<html lang="en">
<link rel="icon" href="{% static 'icon/feather.png' %}" />
<title>Quote-Finder</title>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quote Search</title>
  <script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js" defer></script>
  <script>window.addEventListener("load", function () { window.wpcc.init({ "border": "thin", "corners": "small", "colors": { "popup": { "background": "#f6f6f6", "text": "#000000", "border": "#555555" }, "button": { "background": "#555555", "text": "#ffffff" } } }) });</script>


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-71TRNQR9F7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-71TRNQR9F7');
  </script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Gloock&family=Libre+Baskerville:ital@1&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
  <article style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <div style="max-width:50em; min-width:60vw;">
      <section class="jumbotron text-center" style="background-color: white;">
        <img src="{% static 'icon/feather-icon.svg' %}" style="width:5em;" />

        <h1 class="jumbotron-header">Quote Search</h1>
      </section>

      <div class="row" id="searchbar">
        <form class="col-md-7" action="{% url 'searchbar' %}" autocomplete="off" method="POST" name="submitForm"
          style="margin-top:0.3em;">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" onclick="this.placeholder = ''" name="sentence" placeholder=""
              autocomplete="false" id="sentence_input" required>
            <label for="sentence_input" id="label_sentence_input"><b>Search for an idea</b></label>
            <button type="submit" class="btn input-btn">🔍</button>
          </div>
        </form>
        <form class="col-md-5" action="{% url 'author' %}" method="POST" style="margin-top:0.3em;">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" id="author_filter" name="author_name" list="authors" ,
              autocomplete="off" required>
            <label for="author_filter" id="label_author_filter"><b>Quotes from an author</b></label>
            <button type="submit" class="btn input-btn">🔍</button>
          </div>
          <datalist id="authors">
            {% for author in authors_list %}
            <option value="{{author}}"></option>
            {% endfor %}
          </datalist>
        </form>
      </div>
      <div class="row">
        <div class="row col-7" style="display:flex;flex-direction:row;gap:0.4em;padding-left: 3em;">
          <button type="button" class="btn btn-primary"
            onclick="SearchConcept('Ecology is mandatory, we must protect the planet.')">🌍 Ecology</button>
          <button type="button" class="btn btn-primary" onclick="SearchConcept('Knowledge of history is power.')">🏛
            History</button>
          <button type="button" class="btn btn-primary" onclick="SearchConcept('War never changes.')">⚔ War</button>
        </div>
        <div class="row col-5" style="display:flex;flex-direction:row;gap:0.4em;padding-left: 4em;">
          <button type="button" class="btn btn-primary"
            onclick="SearchAuthor('Antoine de Saint-Exupery')">Saint-Exupéry</button>
          <button type="button" class="btn btn-primary" onclick="SearchAuthor('Lord Byron')">Lord Byron</button>
        </div>
      </div>

      <div class="container-fluid p-0">
        {% for quote in quotes %}
        <div class="quote-block text-justify">
          <blockquote>{{ quote.quote }}</blockquote>
          <a href="/author/{{ quote.author }}/"><b>{{ quote.author }}</b></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </article>
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Aymeric R. 2023</p>
    </div>
  </footer>
</body>

<script>
  var sentence_input = document.getElementById("sentence_input");
  var author_input = document.getElementById("author_filter");

  var label_sentence_input = document.getElementById("label_sentence_input");
  var label_author_filter = document.getElementById("label_author_filter");

  function SearchConcept(sentence) {
    sentence_input.value = sentence;
    sentence_input.focus();
  }
  function SearchAuthor(author_name) {
    author_input.value = author_name;
    author_input.focus();
  }
  sentence_input.addEventListener("focus", function () {
    label_sentence_input.style.color = 'var(--dark)';
    label_sentence_input.style.fontSize = '.75em';
    label_sentence_input.style.top = '-1.75em';
    label_sentence_input.style.pointerEvents = 'none';
  });
  author_filter.addEventListener("focus", function () {
    label_author_filter.style.color = 'var(--dark)';
    label_author_filter.style.fontSize = '.75em';
    label_author_filter.style.top = '-1.75em';
    label_author_filter.style.pointerEvents = 'none';
  });
</script>

</html>